<ng-container *transloco="let t">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="header-row">
        <div>
          <mat-card-title> {{ t('create_ics_events') }}</mat-card-title>
          <mat-card-subtitle>{{ t('ics_import_subtitle') }}</mat-card-subtitle>
        </div>

        <mat-button-toggle-group name="language" aria-label="Language" appearance="legacy" (change)="changeLanguage($event.value)" [value]="currentLang()">
          @for (lang of languages(); track lang.code) {
          <mat-button-toggle [value]="lang.code">{{ lang.label }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="convert-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('amlich_events') }}</mat-label>
          <textarea matInput rows="8" [formField]="convertForm.lunarEvents" data-testid="lunarEvents"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('start_year') }}</mat-label>
          <input matInput type="number" [formField]="convertForm.startYear" data-testid="startYear">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('end_year') }}</mat-label>
          <input matInput type="number" [formField]="convertForm.endYear" data-testid="endYear">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="generateICS()" [disabled]="loading()">
          {{ loading() ? t('loading') : t('download_ics') }}
        </button>
        @if (error()) {
        <p class="error">{{ error() }}</p>
        }

      </form>
    </mat-card-content>
  </mat-card>

  <app-event-previewer [events]="previews()"></app-event-previewer>

</ng-container>
